[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
Flask = "*"
Flask-RESTful = "*"
gunicorn = "*"
wsgi = "*"

[dev-packages]
pytest = "*"
Flask = "*"
Flask-RESTful = "*"
gunicorn = "*"
wsgi = "*"
